<div class="info custom-page-width">
    <div class="info-footer-container">
        <div class="info-footer">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M45 14H9V39H45V14Z" stroke="#020203" stroke-width="3" stroke-miterlimit="10"/>
                <path d="M9 39.5L2 34.3179V11L9 14.5" stroke="#020203" stroke-width="3" stroke-miterlimit="10"/>
                <path d="M45.5 13.5L39.5 9.5H0.5" stroke="#020203" stroke-width="3" stroke-miterlimit="10"/>
            </svg>
            <div class="info-footer-text">{{ 'contact_page.footer.free_delivery' | t }}</div>   
        </div>
        <div class="info-footer">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.7224 41.8261C18.3137 41.8261 12.6268 41.7218 7.82677 37.4435C6.62677 36.4 3.70503 33.4783 2.55721 28.6261C2.29634 27.4783 1.5659 24.3479 2.55721 20.6957C3.18329 18.3478 4.27894 16.6783 5.1659 15.2696C5.79199 14.2783 6.73112 12.8696 8.29634 11.4087C9.75721 10.0522 11.0616 9.26959 12.0007 8.69567C12.8876 8.17394 13.9833 7.54785 15.5485 6.97394C16.0702 6.81741 17.7398 6.19133 20.0876 5.98263C21.705 5.82611 22.9572 5.93046 23.8442 5.98263C25.5137 6.08698 26.6615 6.19133 28.1224 6.71307C29.3746 7.18263 30.3137 7.54785 31.5659 8.38263C33.2355 9.47828 34.4355 10.6261 34.8529 10.9913C35.792 11.8783 36.4181 12.7652 37.2007 14.0696C37.9311 15.2174 38.2963 16.3131 38.6094 17.0957C39.0268 18.2957 39.2876 19.287 39.3398 19.7044C39.6007 20.9565 39.8615 22.9392 39.6007 25.4435" stroke="#020203" stroke-width="3" stroke-miterlimit="10"/>
                <path d="M32.7129 22.313L39.0259 30.2435C39.339 30.6609 39.9651 30.6087 40.2259 30.2435L46.3303 22.313" stroke="#020203" stroke-width="3" stroke-miterlimit="10"/>
            </svg>   
            <div class="info-footer-text">{{ 'contact_page.footer.free_returns' | t }}</div>                      
        </div>
        <div class="info-footer">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43.0259 38H4.93334C3.30371 38 2 36.6292 2 34.9158V12.0842C2 10.3708 3.30371 9 4.93334 9H43.0667C44.6963 9 46 10.3708 46 12.0842V34.9158C46 36.6292 44.6556 38 43.0259 38Z" stroke="#020203" stroke-width="3" stroke-miterlimit="10"/>
                <line x1="2" y1="17.5" x2="46" y2="17.5" stroke="black" stroke-width="3"/>
            </svg>
            <div class="info-footer-text">{{ 'contact_page.footer.secure_payment' | t }}</div>                
        </div>
        <div class="info-footer">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.10547 3.99518V32.8699H27.4332L37.4645 43.5663V32.8699H45.7223V3.99518H2.10547Z" stroke="#020203" stroke-width="3" stroke-miterlimit="10"/>
            </svg>
            <div class="info-footer-text">{{ 'contact_page.footer.need_advice' | t }}</div>                
        </div>
    </div>
</div>
