    <div class="page-text faq-heading">
      <div class="page-heading">{{ section.settings.heading }}</div>
     </div>


    {% schema %}
    {
        "name": "FAQ Heading",
        "settings": [
            {
                "type": "richtext",
                "id": "heading",
                "label": "Page heading"
            }
        ]
    }
    {% endschema %}
