<div id="faq" class="custom-page-width">
  <div class="">
    <div class="" style="position: relative">
      <div class="breadcrumb">
        <a href="/"> Home </a> / FAQ
      </div>
      <div class="rte">
      {% section 'faq-heading' %}
        {% section 'faq-grid' %}
        {% section 'faq-question' %}
      </div>
    </div>
  </div>
</div>
