<div id="lookbook-detail" class="">
  <div class="">
    <div class="">
      <div class="rte">
        <div class="page-text">
          <div class="page-heading">{{ 'general.accessibility.shop_name' | t }}</div>
          <div class="page-subheading">{{ 'lookbook.title' | t }}</div>  
        </div>
        {% section 'lookbook-detail-section' %}
        {% section 'info-footer' %}
      </div>
    </div>
  </div>
</div>
