<div id="contact-page" style="position: relative" class="custom-page-width">
  <div class="breadcrumb">
    <a href="/"> Home </a> / Contact
  </div>
  {% section 'contact-section' %}
  {% section 'info-footer' %}
</div>