<div id="faq" class="custom-page-width">
  <div class="">
    <div class="" style="position: relative">
      <div class="breadcrumb">
        <a href="/"> Home </a> / FAQ
      </div>

      <div class="rte">
        <div class="page-text">
          <div class="page-heading">FREQUENTLY ASKED QUESTIONS</div>
        </div>
        {% section 'faq-detail' %}
        {% section 'info-footer' %}
      </div>
    </div>
  </div>
</div>
