<div id="lookbook-detail" class="page-width">
  <div class="">
    <div class="">
      <div class="rte">
        <div class="page-text">
          <div class="page-heading">{{ page.title }}</div>
          <div class="small-page-subheading"> {{ 'care_page.text.subheading' | t }} </div>  
        </div>
        {% section 'guide-row' %}
        {% section 'guide-product' %}
        {% section 'guide-info' %}
        {% section 'guide-question' %}
        {% section 'card-section' %}
      </div>
    </div>
  </div>
</div>
